<p>In case of any query contact <a href="https://x.com/Subhraneel55545" target="_blank">here</a></p>
            
            <p>Regards</p>
            <p><a href="https://www.linkedin.com/in/subhraneel-goswami-599931282/" target="_blank">Subhraneel</a></p>